
@font-face {
  font-family: 'HPSimplifiedW01-Bold';
  src: url('HPSimplifiedW01-Bold.eot?#iefix') format('embedded-opentype'),  url('HPSimplifiedW01-Bold.woff') format('woff'), url('HPSimplifiedW01-Bold.ttf')  format('truetype'), url('HPSimplifiedW01-Bold.svg#HPSimplifiedW01-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
